@media screen and (max-width: 1024px) {
    .navbar .navbar-nav .nav-link {
        font-size: 13px;
    }
}
@media screen and (max-width: 426px) {
    .header-carousel .owl-carousel-item {
        min-height: 250px;
    }

    .logoImg{
        width: 80%;
      }
}

@media screen and (max-width: 376px) {
    .header-carousel .owl-carousel-item {
        min-height: 200px;
    }

    /* .logoImg{
        width: 80%;
      } */
}